
@import url(bootstrap.min.css);
@import url(bootstrap-select.min.css);

@import url(font-awesome.css);
@import url(flaticon.css);


/* 
============================================
   Global styles
============================================
*/

body {
  color:#17021b;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6,p,ul { 
  margin:0;padding: 0;
  color: #827da9;
}

h1,h2,h3,h4,h5 {
  font-family: 'Roboto', sans-serif;
} 

ul {list-style-type: none;}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:14px;
  line-height: 24px;
}
a {text-decoration: none; display: inline-block; outline: none;}
a:hover,a:focus,a:visited {text-decoration: none; outline: none;}

img {
  width: 100%;
  display: inline-block;
}

button {border:none; outline:none; box-shadow: none; display: block; padding: 0; background: transparent;}
input,textarea {display: block; font-size: 16px; line-height: 28px; outline: none; box-shadow: none;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}

thead{
 color: #17021b; 
}
tbody{
  color: #827da9;
}
.table{
  font-size: 14px;
}
.boxed_wrapper {
    width: 100%;
    background: #fff;
    overflow-x: hidden;
}
.mt-30{
	margin-top: 30px
}
.clear_fix { clear:both;}
.clear_fix:after {
  display: table;
  content: '';
  clear: both;
}
.list_inline li {
  display: inline-block;
}
.social li {
  display: inline-block;
  font-size: 14px;
}
.social li a {
  color: #fff;
  -webkit-transition:.5s ease-in-out;
  transition: .5s ease-in-out;
}
.default_link {
  font-size: 14px;
  text-transform: uppercase;
  color: #827da9;
  font-weight: 600;
}
.default_link:hover {
  color: #827da9;
}

.default_link i {
  margin-left: 3px;
  font-weight: 700;
  font-size: 18px;
}
.uppercase {
  text-transform: uppercase;
}
.padd-80 {
  padding-top: 80px;
}
.tran3s {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.center {
  text-align: center;
}


.row-5 {
  margin: 0 -5px;
}
.thm-color {
  color: #827da9;
}

.bold {
  font-weight: 700;
}
.s-bold {
  font-weight: 600;
}
.m-bold {
  font-weight: 600;
}

.float_left {
    float: left;
}
.float_right {
    float: right;
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}
/*
===============================================
  button style
===============================================
*/
.thm-btn {
  position: relative;
  background: #827da9;
  font-size: 14px;
  /*line-height: 42px;*/
  font-weight: 700;
  color: #ffffff;
  border: 2px solid #827da9;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 26px;
  font-family: 'Roboto', sans-serif;
  -webkit-transition:all .5s cubic-bezier(0.4, 0, 1, 1);
  transition: all .5s cubic-bezier(0.4, 0, 1, 1);
  border-radius: 5px;
}
.thm-btn > h1, .thm-btn > h2, .thm-btn > h3, .thm-btn > h4, .thm-btn > h5, .thm-btn > h6, .thm-btn > p, .thm-btn > ul {
    color: #ffffff;
}
.thm-btn:hover > h1 , .thm-btn:hover > h2 , .thm-btn:hover > h3 , .thm-btn:hover > h4 , .thm-btn:hover > h5 , .thm-btn:hover > h6 , .thm-btn:hover > p , .thm-btn:hover > ul {
    color: #827da9;
}
.thm-btn:hover {
  background: transparent;
  color: #827da9;
  -webkit-transition:all .5s cubic-bezier(0.4, 0, 1, 1);
  transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}
@media (max-width: 768px) {
    .thm-btn {
        margin-top: 10%;
        width: 100%;
    }
}

.theme_menu .link_btn {
  margin-top: 24px;
  color:#17021b;
}

.button-style-one{
  margin-top: 20px;
  color:#827da9;
  position:relative;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 12px;
}
.button-style-one:before{
  content: "";
  position: absolute;
  bottom: 0px;
  width: 94px;
  height: 1px;
  background: #827da9;
}
.button-style-one:hover{
  color:#827da9;
}

.button-style-two{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform:uppercase;
  color:#17021b;
  padding: 11px 26px;
  border:1px solid #827da9;
  letter-spacing: 1px;
}
.button-style-two:hover{
  color:#17021b;
}

.anim-3 {
  -webkit-transition:all 0.3s ease;
  transition: all 0.3s ease;
}
.anim-5 {
  -webkit-transition:all 0.5s ease;
  transition: all 0.5s ease;
}
/*
--------------------------------------------
  sec title style
--------------------------------------------
*/
.main-sec-title{
  background-color: #17021b;
  color: #fff;
}

.sec-title {
  position: relative;
  margin-bottom: 20px;
  
}
.sec-title h2 {
    position: relative;
    font-size: 40px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 500;
}
.sec-title h2.left:before{
	position: absolute;
    content: '';
    background: #827da9;
    width: 50px;
    height: 2px;
    left: 0px;
    bottom: -15px;
}
.sec-title h2.center:before{
	position: absolute;
    content: '';
    background: #827da9;
    width: 50px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
}
.sec-title span{
  color:#827da9;
}


.scroll-top {
    width: 50px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    display: none;
    color: #fff;
    text-align: center;
    background: #827da9;
}
.scroll-top span:before {
  font-size: 27px;
}
.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
  background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}

.preloader{ position:fixed; left:0px; top:0px; width:100%; height:100%;
 z-index:999999; background-color:#fff; background-position:center center;
 background-repeat:no-repeat; background-image:url(../images/icons/preloader.png);}


/*
=================================================
  header-style
=================================================
*/

.crypto-top-strip { 
  position: relative; 
  background-color: #17021b
}
.crypto-userinfo{
    margin-bottom: 0
}
.crypto-userinfo li {
    list-style: none;
    float: left;
    color: #ffffff;
    font-size: 14px;
    padding: 14px;
    margin-right: 11px;
}
.crypto-userinfo li:first-child { background-color: rgba(255,255,255,0.10); }
.crypto-userinfo li i {
    float: left;
    margin: 3px 10px 0px 0px;
}
.crypto-user-section { 
  float: right; 
  margin-top: 10px;
}
.crypto-user-section li {
    float: left;
    list-style: none;
}
.crypto-user-section > li {
    margin-left: 30px;
    padding: 14px 0px 14px 0px;
    font-size: 14px;
}
.crypto-user-section > li a i {
    float: left;
    margin: 3px 16px 0px 0px;
    font-size: 14px;
}
.crypto-user-section li a { color: #ffffff; transition: .3s all; }
.crypto-user-section li a:hover i{
  color: #827da9
}
/* Language Switcher */
.crypto-language {
    float: left;
    margin: 0px 0px 0px 0px;
}
.crypto-language ul { margin: 0px; }
.crypto-language ul li {
    list-style: none;
    float: left;
    position: relative;
}
.crypto-language > ul > li > a { color: #ffffff; }
.crypto-language > ul > li > a:after {
    content: "\f107";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 11px;
    margin-left: 4px;
}
.crypto-language > ul > li > i {
    font-size: 11px;
    color: #ffffff;
    margin-right: 3px;
}
.crypto-language > ul > li:hover .crypto-language-menu {
    opacity: 1;
    visibility: visible;
}
.crypto-language-menu {
    position: absolute;
    left: 0px;
    top: 100%;
    background-color: #ffffff;
    margin: 0px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}
.crypto-language-menu li {
    float: left;
    width: 100%;
    padding: 6px 10px;
    border-bottom: 1px solid #dddddd;
}
.crypto-language-menu li:last-child { border-bottom: none; }
.crypto-language-menu li a { 
    color: #000;
    font-size: 12px;
}



/*logo*/

.main-logo {
  margin: 20px 0px 20px;
}

@media (max-width: 480px){
  .main-logo{
    display: none;
  }
  .mainmenu-area .thm-btn {
    padding: 0 6px !important;

  }
  .mainmenu-area .right-area .link_btn{
    margin-top: 0 !important
  }
  .main-menu {
    margin-top: 15px !important;
  }
}
/*==============================================
    Mainmenu Area Css
===============================================*/
.mainmenu-area {
  background: #17021b;
  theme_menu {      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background: #fff;  }
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@media (max-width: 992px){
  .main-menu {
    position: relative;
    margin-top: 15px !important;
    margin-bottom: 15px;
  }
  .mainmenu-area .menu-column{
  border-top: 1px solid #ccc
  }
  .mainmenu-area .right-area .link_btn{
  margin-top: 10px !important;
  }
}
@media (max-width: 767px){
  .rev_slider_wrapper .slide-content-box .button a{
    line-height: 25px !important;
    font-size: 10px !important;
  }
}
.main-menu {
    position: relative;
    margin-top: 30px
}

.navbar-collapse {
  padding: 0px
}

.navigation {
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
.navigation li {
  display: inline-block;
}

.navigation li a {padding: 8px 13px 28px;text-transform: uppercase;color: #fff;border-top: 1px solid transparent;border-bottom: 1px solid transparent;font-size: 14px;font-weight: 700;font-family: 'Roboto', sans-serif;}

.navigation > li:hover > a {
  color: #827da9;
}

.navigation > li > ul {
  position: absolute;
  left: 0px;
  top: 100%;
  background: #333;
  width: 230px;
  padding: 12px 0px;
  z-index: 999;
  display: none;
}

.navigation > li > ul > li {
  position: relative;
  display: block;
}

.navigation > li > ul > li > a {
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 12px 20px;
  margin: 0;
  text-transform: capitalize;
  transition: all 500ms ease 0s;
}

.navigation > li > ul > li:hover > a {
  color: #827da9;
}

/*========= third-menu ===============*/

.navigation > li > ul > li.third-menu ul {
  position: absolute;
  left: 230px;
  top: 0px;
  background: #333;
  width: 200px;
  border-top: 2px solid #fff;
  padding: 12px 0px;
  z-index: 999;
  display: none;
}
.navigation > li > ul > li.third-menu {
  position: relative;
}
.navigation > li > ul > li.third-menu ul a {
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 12px 20px;
  margin: 0;
  text-transform: capitalize;
  transition: all 500ms ease 0s;
}
.navigation > li > ul > li.third-menu ul a:hover {
  color: #fdc716;
}
.navigation > li > ul > li.third-menu:after {
  position: absolute;
  content: "\f0de";
  font-family: FontAwesome;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  right: 14px;
  transform: rotate(90deg);
  top: 3px;
}

/*========= mobile-menu ==============*/

.mobile-menu .dropdown-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 42px;
  border-left: 1px solid #827da9;
  cursor: pointer;
  display: block;
  z-index: 5;
}
.mobile-menu .dropdown-btn:after {
  position: absolute;
  content: "\f107";
  font-family: FontAwesome;
  color: #827da9;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

.mobile-menu,
.mobile-menu > li > ul,
.mobile-menu > li > ul > li > ul{
  background: #000;
}

.mobile-menu > li > ul,
.mobile-menu > li > ul > li > ul{
  display: none;
}

.mobile-menu > li > a,
.mobile-menu > li > ul > li > a,
.mobile-menu > li > ul > li > ul > li > a{
  background: #fff;
  padding:10px 20px;
  line-height:22px;
  color: #17021b;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  border-top: 1px solid #827da9;
} 

.mainmenu-area .right-area .link_btn{
  margin-top: 24px;
}

.mainmenu-area .navigation > li.current > a {
    position: relative;
    color: #827da9;
}

.mainmenu-area .navigation > li.current > a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: #827da9;
}


/*menu*/

.theme_menu {

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  
}
.theme_menu .menu-column {
  padding: 0;
}

.nav_side_content {
  margin-top: 33px;
  float: left;
  position: relative;
  left: -20px;
}

.nav_side_content .cart_select {
  border-left: 1px solid #ececec;
  padding-left: 5px;
}

/* Mainmenu fixed style */
@-webkit-keyframes menu_sticky {
  0%   {margin-top:-100px;}
  50%  {margin-top: -90px;}
  100% {margin-top: 0;}
}
@keyframes menu_sticky {
  0%   {margin-top:-100px;}
  50%  {margin-top: -90px;}
  100% {margin-top: 0;}
}
.mainmenu-area.stricky-fixed {
  margin: 0;
  position: fixed;
  background: #17021b;
  top:0;
  left:0;
  width: 100%;
  z-index: 99999;
  -webkit-animation-name: menu_sticky;
  animation-name: menu_sticky;
  -webkit-animation-duration: 0.60s;
  animation-duration: 0.60s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}



/*
=================================================================
  page title style
=================================================================
*/

.page-title{
  background: url(../images/resources/banner.jpg)no-repeat;
  padding: 69px 0px 63px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.page-title .clearfix .pull-left{
  position:relative;
  z-index: 10;
}
.page-title .clearfix .pull-right{
  position:relative;
  z-index: 10;
}
.page-title .overlay:before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(34, 34, 34, 0.53);
    opacity: 1;
    content: "";
}
.page-title h1{
  font-size: 30px;
  font-weight: 700;
  line-height:30px;
  text-transform:uppercase;
  color:#ffffff;  
}
.page-title p{
  color:#fff;
  margin-top: 14px;
  letter-spacing: 1px;
}
.page-title .path{
  font-size:14px;
  color:#ffffff;
  font-weight:600;
  line-height: 28px;
  padding: 18px 15px 0px;
}

.page-title .path a{
  position:relative;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  color:#ffffff;
  text-decoration:none;
  transition:.5s;
}

.page-title .path a:hover{
  color:#827da9;
  transition:.5s;
}


/*
====================================================================
   latest-news style
====================================================================
*/
.news{
  padding: 50px 0px 70px;
}
.blog-latest-news{
  padding: 100px 0 100px
}
.news .sec-title{margin: 0px 0px 68px;}
.news .sec-title p{
  max-width:650px;
  margin-bottom: 50px;
  color: #848484;
}


.news .news-post {
  float: left;
  width: 100%;
  background: #fff;
  position: relative;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 20px #DFDFDF;
  -moz-box-shadow: 0px 0px 20px #DFDFDF;
  -ms-box-shadow: 0px 0px 20px #DFDFDF;
  -o-box-shadow: 0px 0px 20px #DFDFDF;
  box-shadow: 0px 0px 20px #DFDFDF;
  
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news .news-post img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.news .news-post:hover img, .news .news-post:focus img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.news .news-post .news-post-image {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.news .news-post .news-post-image .news-overlay {
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.news .news-post .news-post-image .news-category {
  margin: 20px 0 0 15px;
  float: left;
  z-index: 2;
  position: absolute;
}
.news .news-post .news-post-image .news-category > a {
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  line-height: 1.5;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #827da9;
  margin: 0 4px 4px 0;
  background: #827da9;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.news-category > a {
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  line-height: 1.5;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #827da9;
  margin: 0 4px 4px 0;
  background: #827da9;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.news .news-post .news-post-image .news-category > a:hover {
  background: transparent;
  border: 1px solid #fff;
}
.news-category > a:hover {
  background: transparent;
  border: 1px solid #827da9;
  color: #827da9;
}
.news .news-post .news-post-image .news-category > a:hover, 
.news .news-post .news-post-image .news-category > a:active, 
.news .news-post .news-post-image .news-category > a:focus {
  text-decoration: none;
}
.news .news-post .news-post-text {
  padding: 20px;
}
.news .news-post .news-post-text h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 500;
}
.news .news-post .news-post-text h3 a {
  color: #17021b;
}
.news .news-post .news-post-text h3 a:hover {
  color: #827da9;
}
.news .news-post .news-post-text h3 a:hover, .news .news-post .news-post-text h3 a:active, .news .news-post .news-post-text h3 a:focus {
  text-decoration: none;
}
.news .news-post .news-post-text p {
  font-size: 14px;
  margin-bottom: 0;
  color: #a6a6a6;
}
.news .news-post .news-post-text p:last-child {
  margin-bottom: 0 !important;
}
.news .news-post .news-post-meta {
  border-top: 1px solid #f0f0f0;
  padding: 10px 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
}
.news .news-post .news-post-meta a {
  font-size: 13px;
  margin-right: 10px;
  margin-bottom: 20px;
  color: #b3b3b3;
}
.news .news-post .news-post-meta a i {
  display: inline-block;
  margin-right: 5px;
  color: #827da9
}
.news .news-post .news-post-meta a:hover, .news .news-post .news-post-meta a:active, .news .news-post .news-post-meta a:focus {
  text-decoration: none;
}
.news .news-post .news-post-meta a:hover {
  color: #827da9;
}


.news .owl-theme .owl-nav {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 100%;
    right: 0;
    margin: 0;
    margin-bottom: 70px;
}

.news .owl-theme .owl-nav [class*=owl-] {
    color: #827da9;
    font-size: 24px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: 2px solid #827da9;
    line-height: 36px;
    text-align: center;
    margin-left: 10px;
    display: inline-block;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

.news .owl-theme .owl-nav [class*=owl-]:hover {
    color: #fff;
    border: 2px solid #827da9;
    background:#827da9;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}




/*** 
====================================================================
  contact Section style
====================================================================
***/


.default-cinfo .icon_box {
  width: 40px;
}
.default-cinfo li + li {
  margin-top: 10px;
  border-top: 1px solid #f1f1f1;
  padding-top: 12px;
}
.default-cinfo li .icon_box,
.default-cinfo li .text-box {
  display: table-cell;
  vertical-align: top;
}

.default-cinfo li .icon_box i {
  font-size: 20px;
  color: #827da9;
  position: relative;
  top: 7px;
}
.default-cinfo .accordion .acc-btn {
  background: #f7f7f7;
  padding: 14px 30px;
  margin: 0;
}

.default-cinfo .accordion-box {
  border: none;
}
.default-cinfo .accordion {
  border: 1px solid #f7f7f7;
}
.default-cinfo .accordion-box .accordion .acc-content b {
  color: #17021b;
  font-weight: 600;
}

/*form*/

.default-form {
  position: relative;
}


.default-form p {
  color: #fff;
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 20px;
}
.default-form p span {
  color: #ab7442;
  font-size: 20px;
  font-weight: 600;
}


.default-form .form-box{
  position:relative;
}

.comment-form .form-box{
  padding:25px 25px 0px 25px; 
}

.default-form .form-group{
  position:relative;

}
.form-group.style-two{
  margin-bottom:30px;
}
.default-form .comment-form .form-box .form-group{
  margin-bottom:25px;
}

.default-form.form-box .row{
  margin-left:-10px;
  margin-right:-10px; 
}

.default-form.form-box .row .form-group{
  padding:0px 0px;  
}

.default-form .form-group .field-label{
  display:block;
  line-height:24px;
  text-transform:uppercase;
  margin-bottom:10px;
  color:#232323;
  font-weight:500;
  font-size:13px;
}

.default-form .form-group .field-label sup{
  color:#ff0000;
  font-size:14px;
}

.default-form input[type="text"],
.default-form input[type="email"],
.default-form input[type="password"],
.default-form input[type="number"],
.default-form select,
.default-form textarea{
  display:block;
  width:100%;
  line-height:24px;
  height:55px;
  font-size:16px;
  box-shadow: none;
  border: 1px solid #f4f4f4;
  padding:12px 15px;
  border-radius: 0px;
  transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.default-form textarea{
  height: 120px;
}
.default-form .bootstrap-select {
    border: 1px solid #f4f4f4;
    background: #f7f7f7;
    color: #827da9;
    padding: 10px 0;
    font-size: 16px;
}
.default-form .btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.default-form .btn-group.open .dropdown-toggle:focus {
  border: none;
  outline: none;
}
.default-form  .bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
.default-form  .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: #827da9;
  color: #fff;
}
.default-form .form-control:focus {
  border-color: #827da9;
  box-shadow: none;
}
.form-control:hover {
  border-color: #827da9;
  box-shadow: none;
}

.default-form .thm-btn {
  width: 100%;
}


.default-form form input::-webkit-input-placeholder {
  color: #9e9e9e;
}
.default-form form input:-moz-placeholder {
  /* Firefox 18- */
  color: #9e9e9e;
}
.default-form form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #9e9e9e;
}
.default-form form input:-ms-input-placeholder {
  color: #9e9e9e;
}


.default-form .alert-success {
    color: #827da9;
    background: none;
    border: none;
    font-size: 18px;
}


/*** 
=============================================
   page_pagination style
=============================================
***/
.page_pagination {
  text-align: center;
  
}
.page_pagination li {
  display: inline-block;
  margin: 10px 4px 0;
}
.page_pagination li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border:1px solid rgba(229, 229, 229, 0.57);
  text-align: center;
  color: #848484;
  font-size: 18px;
}
.page_pagination li a.active,
.page_pagination li a:hover {
  color:#fff;
  background: #827da9;
}

/*
=================================================================
  page title style
=================================================================
*/
.bredcrumb {
    opacity: 1;
    position: relative;
}
.bg-image-holder, .bg-image {
    background-size: cover!important;
    background-position: 50% 50%!important;
    transition: all 0.3s linear;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #f5f5f5;
    position: relative;
}
.bredcrumb .bg-image h1 {
    color: #ffffff;
    position: relative;
    font-weight: 700;
    margin-bottom: 0px;
}

.bredcrumb .bg-image:before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(34, 34, 34, 0.53);
    opacity: 1;
    content: "";
}
.bredcrumb h1{
  font-size: 30px;
  font-weight: 700;
  line-height:30px;
  text-transform:uppercase;
  color:#ffffff;  
}
.bredcrumb .middle {
    text-align: center;
    background-color: #f5f5f8;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px
}
.bredcrumb .middle li {
    padding: 20px 10px;
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    color: #17021b;
    font-weight: 600;
}
.bredcrumb .middle li a{
  color: #17021b;
}
.bredcrumb .middle li .inner{
  color: #827da9
}
.bredcrumb .middle li:after {
    content: "\f105";
    right: -5px;
    top: 20px;
}
.bredcrumb .middle li:last-child:after{
  display: none;
  padding-left: 10px
}
.bredcrumb ul li:after {
    position: absolute;
    content: '\f101';
    font-family: FontAwesome;
    top: 14px;
}




/*
===================================================
  footer style
===================================================
*/
.main-footer{
  position: relative;
  padding-top: 100px;
  padding-bottom: 76px;
  background: #17021b;
  width: 100%;
}
.footer-logo{
  position: relative;
  background: url(../images/footer/logo1.png) no-repeat 9% 100%;
  height: 45px;
  margin-bottom: 24px;
  left: -7px;
}
.footer-logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.main-footer p{
  color: #ccc;
}
.main-footer .logo-wideget{
  position: relative;
  margin-right: 20px;
}
.main-footer .logo-wideget .logo-top{
  position: relative;
  background: #2b2b2b;
  width: 100%;
  padding: 40px;
  top: 0px;
  margin-top: -120px;
  margin-bottom: 37px;
}
.main-footer .logo-wideget .logo-top a{
  color: #827da9;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}
.main-footer .logo-wideget .logo-top p{
  margin-bottom: 21px;
}
.main-footer .logo-wideget .logo-top a i:before{
  font-size: 10px;
  color: #fff;
  margin-right: 7px;
}
.main-footer .logo-wideget .logo-bottom p{
  font-weight: 500;
  margin-bottom: 9px;
}
.main-footer .footer-title h5{
  position: relative;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 10px;
  font-size: 16px;
  margin-bottom: 36px;
}
.main-footer .footer-title h5:before{
  position: absolute;
  content: '';
  background: #827da9;
  width: 50px;
  height: 2px;
  left: 0px;
  bottom: -5px;
}
.main-footer .logo-wideget .logo-bottom .footer-form{
  position: relative;
}
.main-footer .logo-wideget .logo-bottom .footer-form input{
  width: 100%;
  height: 48px;
  background: transparent;
  position: relative;
  border: 1px solid #555;
  color: #ccc;
  font-style: italic;
  padding: 15px 20px;
}
.main-footer .logo-wideget .logo-bottom .footer-form button{
  position: absolute;
  right: 15px;
  top: 12px;
  background: transparent;
}
.main-footer .logo-wideget .logo-bottom .footer-form button i:before{
  font-size: 30px;
  color: #827da9;
}
.main-footer .service-widget .list li p{
  font-weight: 500;
  margin-bottom: 12px;
}
.main-footer .service-widget .list li p:hover{
  color: #fff;
}
.main-footer .service-widget .list li{
  position: relative;
  padding: 0px 0px 0px 12px;
}
.main-footer .service-widget .list li:before{
  position: absolute;
  content: "\f0da";
  font-family: 'FontAwesome';
  font-size: 14px;
  color: #ccc;
  left: 0px;
  top: 2px;
}
.main-footer .service-widget .list li:hover:before{
  color: #827da9;
}
.main-footer .post-widget{
  position: relative;
}
.main-footer .post-widget .single-item{
  position: relative;
  padding: 0px 0px 0px 103px;
  margin-bottom: 36px;
}
.main-footer .post-widget .footer-title h5{
  margin-bottom: 44px;
}
.main-footer .post-widget .single-item .img-box{
  position: absolute;
  left: 0px;
  top: -4px;
}
.main-footer .post-widget .single-item .text{
  position: relative;
  font-size: 11px;
  font-weight: 500;
  line-height: 22px;
  color: #ccc;
  margin-bottom: 6px;
}
@media (max-width: 992px){
  .main-footer .post-widget{
    margin-top: 30px
  }
  .main-footer .contact-widget{
    margin-top: 30px
  }
}
@media (max-width: 767px){
  .main-footer .service-widget{
    margin-top: 40px
  }
  .main-footer .post-widget{
    margin-top: 20px
  }
  .main-footer .contact-widget{
    margin-top: 30px
  }
}
.main-footer .post-widget .single-item .text span{
  color: #827da9;
}
.main-footer .post-widget .single-item h6{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.main-footer .post-widget .single-item h6 a{
    color: #ccc;
}
.main-footer .post-widget .single-item h6 a:hover{
    color: #fff;
}
.main-footer .contact-widget{
  position: relative;
}
.main-footer .contact-widget .single-item{
  position: relative;
  padding: 0px 0px 0px 27px;
  margin-bottom: 13px;
}
.main-footer .contact-widget .single-item .icon-box{
  position: absolute;
  left: 0px;
  top: 0px;
}
.main-footer .contact-widget .single-item .icon-box i:before{
  font-size: 16px;
  color: #666;
}
.main-footer .contact-widget .footer-social li{
  position: relative;
  display: inline-block;
  margin-right: 5px;
}
.main-footer .contact-widget .footer-social li a{
	padding: 5px;
    color: #ccc;
    border: 1px solid #ccc;
    width: 32px;
    height: 32px;
    text-align: center;
}
.main-footer .contact-widget .footer-social li a:hover{
	color: #fff;
	border-color: #fff
}

.main-footer .contact-widget .footer-social{
  position: relative;
  margin-top: 39px;
}
.footer-bottom{
  position: relative;
  background: #17021b;
  /*padding: 26px 0px 24px 0px;*/
  margin-top: 25px;
}
.footer-bottom .copyright{
  position: relative;
  font-size: 13px;
  font-family: "Hind",sans-serif;
  line-height: 25px;
  color: #ccc;
  margin-bottom: 0px;
}
.footer-bottom .copyright a{
	color: #fff
}




/*
================================================
   about style
================================================
*/
.about{
  padding: 100px 0px 100px;
}
.about .item-list .item.clearfix{
    margin-top: 20px;
}
@media (max-width: 992px){
  .about .item .image-box img{
    margin-top: 30px
  }
}
.about .item-list .item .content-box{}
.about .item-list .item .content-box h4{
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  font-weight:400;
  color:#17021b;
    line-height: 27px;
}
.about.about-2 .item-list .item.clearfix{
	margin-top: 20px
}
.about.about-2 .item-list .item .content-box p{
	padding-bottom: 30px;
    border-bottom: 0px solid #ededed;
}
.about .item-list .item .content-box p{
  max-width: 720px;
  color:#666666;
  margin-top: 26px;
  padding-bottom: 28px;
}
.about .item .image-box img{
  width:auto;
  max-width:100%;
}
.s-list{
  margin-top: 30px
}
.s-list li {
    margin-bottom: 10px;
    color: #777;
    font-size: 15px
}
.s-list span.fa {
    font-size: 16px;
    color: #827da9;
    margin-right: 10px;
}
.about.style-two{
  padding-top:100px;
}
@media (max-width: 992px){
  .about .bity img{
    margin-top: 30px
  }
}

.about .about-links li{
    display:inline-block;
    margin: 30px 10px 0px 0px;
}
.about .about-links li a{
  letter-spacing:1px;
}


/*
------------------------------------------------
  Ask Question 
------------------------------------------------
*/
.ask-question{
    position: relative;
    /*padding: 100px 0;*/
	/*background: url(../images/background/ask-bg.jpg) bottom center no-repeat;*/
	background-size: cover
}
.ask-question .ask-box{
    background: #555;
    padding: 10px 0 10px 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 10px;
    border: 1px solid #827da929;
    border-radius: 5px;
}
.ask-question .ask-box:hover,
.ask-question .ask-box.active{
    background: #fff
}
.ask-question .ask-box.active:hover{
	/*background: #555;*/
  box-shadow: 1px 1px 2px #827da929;
  /*margin-left: 9px;
  margin-top: 9px;*/
}
.ask-question .ask-circle{
    float: left;
    width: 70px;
    height: 70px;
    border: 2px solid #827da9;
    border-radius: 100%;
    text-align: center;
    margin-right: 15px;
}
.ask-question .ask-circle span {
    vertical-align: middle;
    font-size: 32px;
    margin-top: 15px;
    line-height: 1;
    color: #827da9
}
.ask-question .ask-info {
    /*margin: 0 65px 0 85px;*/
    color: #827da9;
    margin-top:10%;
    margin-bottom: 2%;
}
.ask-info-btn{
    border: 1px solid #827da9;
    margin: 0px 80px;
    padding: 2%;
    background-color: #827da9;
    border-radius: 5px;
    color: #ffffff;
}

.ask-question .ask-info h3{
	font-size: 20px;
	margin-bottom: 10px
}
.ask-question .ask-arrow{
    top: 0;
    position: absolute;
    right: 0;
    width: 130px;
    height: 100%;
    text-align: center;
    float: right;
    background: rgba(255,255,255,0.2);
}
.ask-question .ask-arrow span {
    border-radius: 15%;
    background: #fff;
    display: inline-block;
    /*padding: 26px;*/
    font-size: 16px;
    width: 75px;
    height: 75px;
    font-weight: normal;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/*
====================================================================
    currency-exchange style
====================================================================
*/
.filter{
  margin-top: -35px;
  background-color: #fff;
  padding: 20px;
  border-bottom: 0.5px solid #efebeb;
}
.prices{
	position: relative;
	/*padding: 100px 0;*/
	text-align: center;
}
.prices .sec-title p {
    max-width: 650px;
    margin: 0 auto;
    color: #fff;
    margin-top: 20px;
    padding-bottom: 75px;
}
.prices .table{
	/*margin-top: -59px;*/
	margin-bottom: 0;
  background-color: #fff;
}
.prices .currency-icon{
	max-width: 25px;
	margin-right: 15px
}
.prices .up{
	color: #43c443
}
.prices .down{
	color: red
}
.prices .chart{
	margin-top: 46px
}
/*
====================================================================
    currency-exchange style
====================================================================
*/
.currency-exchange{
	position: relative;
	padding: 100px 0;
}

.currency-exchange .sec-title p {
    max-width: 650px;
    margin: 0 auto;
    color: #848484;
    margin-top: 20px;
}


/*** 

====================================================================
    FAQ
====================================================================

 ***/
.freq-ask{
  padding: 100px 0
 }
 .freq-ask .faqs{
  margin-top: 46px
 }
.accordion-box{
  position:relative;
  padding:0px 30px;
  margin-bottom: 0;
  background:#fafafa;
}

.accordion-box .block{
  position:relative;
  margin-bottom:0px;
  border-bottom:1px solid #e0e0e0;  
}

.accordion-box .block:last-child{
  border-bottom:none; 
}

.accordion-box .block .acc-btn{
  position:relative;
  font-size:16px;
  margin-bottom:0px;
  cursor:pointer;
  line-height:30px;
  text-transform:capitalize;
  font-weight:600;
  padding:20px 40px 20px 0px;
  overflow:hidden;
  color:#2a2a2a;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  z-index:1;
}

.accordion-box .block .acc-btn .icon-outer{
  position:absolute;
  display:block;
  right:0px;
  top:20px;
  width:30px;
  height:30px;
  line-height:28px;
  font-weight:normal;
  text-align:center;
  color:#1a1a1a;
  background:#ffffff;
  border:1px solid #1a1a1a;
  border-radius:0px;
}

.accordion-box .block .acc-btn .icon-outer .icon{
  position:absolute;
  display:block;
  left:0px;
  top:50%;
  background: #827da9;
  margin-top:-15px;
  width:100%;
  height:30px;
  line-height:30px;
  font-size:12px;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.accordion-box .block .acc-btn.active .icon-outer {
    color: #fff
}

.accordion-box .block .acc-btn.active .icon-outer .fa-plus:before{
  content:'\f068';
}

.accordion-box .block .acc-content{
  position:relative;
  display:none; 
}

.accordion-box .block .acc-content.current{
  display:block;  
}

.accordion-box .block .content{
  position:relative;
  font-size:14px;
  color:#666666;
  padding:3px 0px 23px; 
}

.accordion-box.style-two .block .content{
  background:#fafafa; 
}

.accordion-box .block .content p{
  margin-bottom:15px;
  line-height:1.9em;  
}

.accordion-box .block .content p:last-child{
  margin-bottom:0px;  
}



/*** 

====================================================================
   Blog Page Style
====================================================================

***/

.sidebar-page{
  position:relative;
}
.sidebar-page .single-blog-item .img-holder .categories{
  bottom: 40px
}
.blog-container{
  position:relative;
  padding:100px 0px 50px;
  margin-bottom: 20px;
}
.blog-post.style-two{
  padding:0px;
}
.sidebar-page .blog-post{
  position:relative;
  background:#ffffff;
  margin-bottom: 2px;
  transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
}

.sidebar-page .blog-post .post-header{
  position:relative;
  padding: 18px 0px 0px;
  background:#ffffff;
}

.sidebar-page .blog-post .post-header h2{
  position:relative;
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0px 8px;
  color: #17021b;
}

.sidebar-page .blog-post .post-header h2 a{
  position:relative;
  display:block;
  color: #17021b;
  transition:.5s;
}

.sidebar-page .blog-post .post-header a:hover{
  color: #827da9;
  transition:.5s;
}
.sidebar-page .blog-post .post-header h4{
  color:#f9ad0a;
  font-size:14px;
  font-family:'raleway'
  font-weight:500;
}
.sidebar-page .blog-post .post-info{
  position:relative;
  margin-bottom: 18px;
  font-family: 'open sans',sans-serif;
}

.sidebar-page .blog-post .post-info li{
  position:relative;
  display:inline-block;
  margin: 0px 25px 0px 0px;
  color: #848484;
  font-size: 14px;
  font-weight: 400;
}
.sidebar-page .blog-post .post-info li span{
}
.sidebar-page .blog-post .post-info li span:before{
  color:#827da9;
  margin: 0;
  font-size: 14px;
}
.sidebar-page .blog-post .image-box{
  position:relative;  
}

.sidebar-page .blog-post .image-box .date{
  height: 60px;
  width: 70px;
  background: #827da9;
  color: #fff;
  text-align: center;
  padding-top: 8px;
  position: absolute;
  top: 20px;
  left: 0px;
}
.sidebar-page .blog-post .image-box .date h5{
  font-size: 22px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
      color: #ffffff;
}
.sidebar-page .blog-post .image-box .date p{
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
  position:relative;
} 

.sidebar-page .blog-post .image-box img{
  position:relative;
  display:block;
  width:100%;
  height:auto;  
}
.sidebar-page .image-slider .owl-controls{
  margin:0px !important;  
}
.sidebar-page .image-slider .owl-nav .owl-prev{
  position:absolute;
  left:-5px;
  top:50%;
  margin-top:-25px;
  width:50px;
  height:50px;
  text-align:center;
  background:none !important;
  font-size:0px !important;
}

.sidebar-page .image-slider .owl-nav .owl-next{
  position:absolute;
  right:-5px;
  top:50%;
  margin-top:-25px;
  width:50px;
  height:50px;
  text-align:center;
  background:none !important;
  font-size:0px !important;
}

.sidebar-page .image-slider .owl-nav .owl-prev:after{
  content:'\f104';
  font-family:'FontAwesome';
  position:absolute;
  left:0px;
  top:0px;
  line-height:50px;
  display:block;
  font-size:32px;
  color:#ffffff;
  text-align:center;
  width:50px;
  height:50px;
  opacity:0.50;
  background:rgba(0,0,0,0.30);
  transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
}

.sidebar-page .image-slider .owl-nav .owl-next:after{
  content:'\f105';
  font-family:'FontAwesome';
  position:absolute;
  left:0px;
  top:0px;
  line-height:50px;
  display:block;
  font-size:32px;
  color:#ffffff;
  text-align:center;
  width:50px;
  height:50px;
  opacity:0.50;
  background:rgba(0,0,0,0.30);
  transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
}

.sidebar-page .image-slider .owl-nav .owl-prev:hover:after,
.sidebar-page .image-slider .owl-nav .owl-next:hover:after{
  background:#f9ad0a;
  opacity:1;
}

.sidebar-page .image-slider .owl-dots{
  display:none !important;  
}

.sidebar-page .blog-post .post-desc{
  position:relative;
  padding: 20px 0px;
  background:#ffffff;
  border-top: 1px solid #ededed;
}

.sidebar-page .blog-post .text{
  position:relative;
  margin-bottom: 33px;
  color: #848484;
}
.sidebar-page .blog-post .text.style-two{
  margin-bottom: 10px;
}
.sidebar-page .blog-post .post-header .post-options{
  position:relative;
  float:right;  
}
.sidebar-page .blog-post .post-header .post-options a{
  position:relative;
  display:inline-block;
  font-size:18px;
  display:inline-block;
  margin-left:10px;
  color:#777777;  
}

.sidebar-page .blog-post .post-header .post-options a:hover{
  color:#00bff5;  
}

.sidebar-page .blog-post blockquote{
  position:relative;
  margin-left: 54px;
  padding: 0px 20px 0px 26px;
  line-height:2em;
  font-size: 14px;
  color: #848484;
  font-style: italic;
  border-left: 2px solid #e7e7e7;
  font-family: 'Open Sans', sans-serif;
}
.sidebar-page .blog-post .quate{
  position:absolute;
  top: 24px;
  left: -50px;
  font-size: 30px;
  color: #827da9;
}
.sidebar-page .blog-detail .post-desc h2{
  font-size:20px;
  font-family:'Montserrat',sans-serif;
  margin-bottom:22px;
  color:#1a1a1a;  
}

.sidebar-page .blog-detail .post-desc h3{
  font-size:18px;
  font-family:'Montserrat',sans-serif;
  margin-bottom:10px;
  color:#1a1a1a;  
}

.sidebar-page .blog-detail h4{
  font-size:16px;
  margin-bottom:20px; 
}

.check-list li .fa{
  position:relative;
  color:#cbda37;  
}

.remove-list li .fa{
  position:relative;
  color:#ff0000;  
}

.sidebar-page .blog-detail .post-tags{
  position:relative;
  padding:15px;
  font-size:16px;
  background:#f5f5f5;
  color:#999999;
  margin-bottom:50px;
}

.sidebar-page .blog-detail .post-tags a{
  position:relative;
  color:#777777;
  font-size:15px;
}

.sidebar-page .blog-detail .post-tags a:hover{
  color:#f7a34a;  
}

.sidebar-page .post-author{
  position:relative;
  background:#ccedf9;
  padding:25px;
  color:#555555;
  border-bottom:3px solid #f7a34a;
  margin-bottom:50px; 
}

.sidebar-page .post-author:before{
  content:'';
  position:absolute;
  left:50px;
  top:-28px;
  border:15px solid transparent;
  border-bottom-color:#ccedf9;
}

.sidebar-page .post-author .inner-box{
  position:relative;
  padding:15px 0px 0px 100px;
  min-height:80px;
}

.sidebar-page .post-author .inner-box .author-thumb{
  position:absolute;
  left:0px;
  top:10px;
  width:80px;
  height:80px;
  border:2px solid transparent;
  box-shadow:0px 0px 2px 0px #f7a34a;
  -moz-box-shadow:0px 0px 2px 0px #f7a34a;
  -ms-box-shadow:0px 0px 2px 0px #f7a34a;
  -o-box-shadow:0px 0px 2px 0px #f7a34a;
  -webkit-box-shadow:0px 0px 2px 0px #f7a34a;
  border-radius:50%;
  -webkit-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  -moz-border-radius:50%; 
}

.sidebar-page .post-author .inner-box .author-thumb img{
  display:block;
  width:76px; 
}

.sidebar-page .post-author h4{
  margin-bottom:10px;
  color:#1a1a1a;  
}

.sidebar-page .post-author h4 .author-occ{
  position:relative;
  left:10px;
  padding:5px 10px;
  font-size:10px;
  background:#f7a34a;
  border-radius:5px;
  color:#ffffff;
}
.leave-comment .section-title{
    margin-bottom: 20px;
}
.leave-comment .section-title h3{
  position: relative;
  display: block;
  margin: 67px 0px 25px;
  color: #17021b;
  transition: .5s;
  font-size: 20px;
  font-weight: 500;
}
.sidebar-page .form-control:focus{
  border-color:#827da9;
}



